.ipynb_checkpoints
data_files
models
processed
runtime_repo
src/benchmark/benchmark_predictions_parakeet.json
src/benchmark/benchmark_predictions_whisper.json
src/benchmark/log.log
src/benchmark/benchmark.log
src/benchmark/log2.log
src/finetune/__pycache__
src/finetune/finetune.log
src/finetune/log.log
src/whisper.py
cookies.txt
data_download.txt
explore.ipynb
talkbak_download.txt
src/finetune/log2.log
src/benchmark/finetune_test_1.log
src/benchmark/finetune_test.log
src/benchmark/predictions_finetune_parakeet.json
src/benchmark/predictions_finetune_parakeet_won.json